<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header> 
        <section>
            <div>
        <img src="/images/logo-mercado-liebre.svg" alt="logo">
            </div>
            <div>
                <h2>
                    Lugar para poner la barra de busqueda
                 </h2>
            </div>
            <div>
                <h2>
                    Comprá en cuotas y sin tarjeta de crédito
                </h2>
            </div>
            <div>
                 <ul>
                    <li><a href="">Ofertas</a></li>
                    <li><a href="">Tiendas Oficiales</a></li>
                    <li><a href="">Vender</a></li>
                    <li><a href="">Ayuda</a></li>
                 </ul>

                 <ul>
                    <li><a href="">Crea tu Cuenta</a></li>
                    <li><a href="">Ingresá</a></li>
                    <li><a href="">Mis compras</a></li>
                 </ul>
                </div>
            </header>
                 <div>
                    <img src="/images/img-home-banner.jpg">
                 </div>
     <section class="Ultima Vista">
               <div>  <h2>Basado en tu útima visita</h2>  </div> 
        
               <div>
                <img src="/images/img-cafetera-moulinex.jpg">

                <p>$6.770 <br>
                   40% OFF <br>
                   <h3>Cafetera Moulinex </p> </h3>
               </div>

               <div> 
                <img src="/images/img-macbook-pro-2019.jpg">

                <p>$230.000 <br>
                20% OFF <br>
            <h3>MacBook Pro 2019</p></h3>
               </div>

            <div>
                <img src="/images/img-samsung-galaxy-s10.jpg">

                <p>$70.500 <br> 
                10% OFF <br>
           <h3>Samsung Galaxy S10</p></h3> 
            </div>

            <div>
                <img src="/images/img-tv-samsung-smart.jpg">

                <p>$23.200 <br>
                5% OFF <br>
            <h3>SmartTv Samsung 43"</p></h3>
            </div>

      </section>

      <section class="Ofertas">

        <div> <h2>Sección de Ofertas</h2></div>
        <div>
            <img src="/images/img-cafetera-moulinex.jpg">

            <p>$6.770 <br>
               40% OFF <br>
               <h3>Cafetera Moulinex </p> </h3>
           </div>

           <div> 
            <img src="/images/img-macbook-pro-2019.jpg">

            <p>$230.000 <br>
            20% OFF <br>
        <h3>MacBook Pro 2019</p></h3>
           </div>

        <div>
            <img src="/images/img-samsung-galaxy-s10.jpg">

            <p>$70.500 <br> 
            10% OFF <br>
       <h3>Samsung Galaxy S10</p></h3> 
        </div>

        <div>
            <img src="/images/img-tv-samsung-smart.jpg">

            <p>$23.200 <br>
            5% OFF <br>
        <h3>SmartTv Samsung 43"</p></h3>
        </div>
      </section>
          
      <footer>
      <section class="Pie de Pagina">

        <ul>
            <li><a href=""><h4>Pagá con tarjeta o en Efectivo <br></h4>Con Mercado Liebre Cash tenés cuotas sin<br>interés con tarjeta o efectivo en puntos de<br> pagos. ¡Y siempre es seguro!</a></li>
            <li><a href=""><h4>Envio gratis desde $2.500</h4>Solo por estar registrad@ en Mercado Liebre tenés envios gratis en miles de<br> productos. Es un beneficio de Mercado Liebre Puntos.</a></li>
            <li><a href=""><h4>Seguridad de principio a fin</h4>¡No te gusta? ¡Devolvelo! En Mercado Liebre<br>no hay nada que no puedas hacer porue estás<br>siempre protegid@.</a></li>
            <li><a href=""><h4>Copyright © 1999-2020 MercadoLiebre S.R.L.</h4></a></li>
        </ul>


      </section>
      
    
    </footer>
    


</body>
</html>