<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header> 
        <section>
            <div>
        <img src="/images/logo-mercado-liebre.svg" alt="logo">
            </div>
            <div>
                <h2>
                    Lugar para poner la barra de busqueda
                 </h2>
            </div>
            <div>
                <h2>
                    Comprá en cuotas y sin tarjeta de crédito
                </h2>
            </div>
            <div>
                 
            </div>
    </section>
    
    </header>
    


</body>
</html>